$color: #ba00fb;
$clip-size: 20px;

.container {
  height: auto;
  margin: 1.5rem;
  width: 100%;
  position: relative;
  padding: 2rem 0;
  display: flex;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, #3b1644 0%, rgba(255, 255, 255, 0) 0, #e496ff 100%) 1;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .border {
    position: absolute;
    border: 0.68px solid #ba00fb;
    top: 10px;
    left: 10px;
    width: calc(100% - 50px);
    height: 85px;
    pointer-events: none;
    border-bottom: none;
    border-right: none;
    clip-path: polygon($clip-size 0%, 0% $clip-size, 0% 100%, 100% 100%, 100% 0%);

    &::before {
      content: " ";
      height: $clip-size;
      width: $clip-size;
      position: absolute;
      left: -1px;
      top: 0;
      clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
      background-color: $color;
      transition: 0.2s all;
    }
  }
  &::before {
    content: " ";
    position: absolute;
    right: 15px;
    top: 0;
    background-image: url("../../../../assets/icons/plus.svg");
    height: 21px;
    width: 19px;
  }

  &::after {
    content: " ";
    position: absolute;
    left: 1px;
    bottom: 130px;
    background-image: url("../../../../assets/icons/plus.svg");
    height: 21px;
    width: 19px;
  }
}

.containText {
  max-width: 460px;
  position: relative;

  .email {
    font-family: "Orbitron";
    font-size: 0.8rem;
    line-height: normal;
    background: #db74ff;
    background-clip: text;
    align-content: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px dotted #ba00fb;
    text-align: start;
    height: 60px;
    width: 100%;
  }

  .description {
    color: #f7d3fd;
    font-family: "ChakraPetchLight" !important;
    font-size: 0.8rem !important;
    line-height: normal !important;
    padding: 1.5rem 0;
    border-bottom: 1px dotted #ba00fb;
    text-align: justify;
    width: 100%;
    height: 100%;
  }

  .socialIcos {
    display: flex;
    justify-content: start;
    gap: 10px;
    height: 100%;
  }
}

.content {
  width: 196px;
  height: 190px;
  position: relative;
  display: flex;
  background-color: rgba(252, 199, 255, 0.05);
  border-radius: 10%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    position: absolute;
    z-index: 2;
  }

  .dotted {
    position: absolute;
    z-index: 1;
    background-image: radial-gradient(rgba(255, 255, 255, 0.2), 1px, transparent 0);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-size: 10px 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40%;
  }
}
