.menu {

  .item{
    font-family: "Orbitron", "ChakraPetch";
    color: #efc6ff;
    font-size: .9em;
    text-transform: uppercase;
    transition: all 0.2s;

    &:hover {
      background: #ba00fb40 !important;
      color: #fff;
    }
  
    img {
      width: 25px;
      margin-right: 20px;
    }
  }
}