.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 900;
  gap: 1.2rem;

  .lngIcon {
    width: 34px;
    height: 34px;
    fill: #ba00fb;
    cursor: pointer;
  }

  .loggedBox {
    border: 1px solid rgba(186, 0, 251, 0.41);
    background: rgba(58, 31, 80, 0.6);
    backdrop-filter: blur(4px);
    padding: 15px 20px;
    color: #D490EC;
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      color: #fff;
      font-family: "ChakraPetchLight";
      font-size: 0.9rem;
      font-weight: 600;
    }
    svg {
      cursor: pointer;
    }
    .divider {
      width: 1px;
      height: 25px;
      border-left: 1px dashed #BA00FBAA;
    }
  }
}

.spinner {
  color: #D490EC!important;
}