$color: #ba00fb;

// button base ---
.btnBase {
  border: 1px solid $color !important;
  background: rgba(232, 168, 255, 0.7) !important;
  color: #fff;
  clip-path: polygon(calc(100% - 10px) 0%, 100% 10px, 100% 100%, 0% 100%, 0% 0%);
  padding: 5px !important;
}

// button default ---
.btnDefault {
  border: 1px solid $color !important;
  background: rgba(8, 4, 15, 0.61);
  color: #fff;
  clip-path: polygon(calc(100% - 20px) 0%, 100% 20px, 100% 100%, 0% 100%, 0% 0%);
  padding: 15px 30px;
  position: relative;

  &::before {
    content: " ";
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    background-color: $color;
    transition: 0.2s all;
  }

  span {
    font-family: "Orbitron";
    font-size: 1rem;
    font-weight: 900;
    background: linear-gradient(108deg, #fff 3.7%, #c66ae6 93.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// button animated ---
.btnAnimated {
  cursor: pointer;
  position: relative;
  padding: 15px 40px;
  color: $color;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background: #ba00fb10;
  clip-path: polygon(calc(100% - 20px) 0%, 100% 20px, 100% 100%, 0% 100%, 0% 0%);
  text-transform: uppercase;
  border: none;
  background-color: rgba(8, 4, 15, 0.61);

  p {
    font-family: "OrbitronBold", "ChakraPetch";
    font-size: 1.4em;
    background: linear-gradient(108deg, #fff 3.7%, #c66ae6 93.42%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    user-select: none;
    margin: 0;
  }

  &:hover {
    background: #ba00fb40 !important;
    color: #fff;
  }

  span {
    position: absolute;
    display: block;
  }

  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, $color);
    animation: btn-anim1 1s linear infinite;
  }

  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }

  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $color);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }

  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }

  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, $color);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }

  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $color);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }

  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
}
