.panel {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

// submenu section
.submenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 100%;
  transition: 0.2s all;
  box-sizing: border-box;
  overflow-y: auto;
  color: #fff;
}

// main (global classes)
.main {
  height: 100%;
  color: white;
  flex-flow: column;
  box-sizing: border-box;
  transition: 0.2s all;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 1.5rem;

    .nickname {
      align-items: center;
      gap: 5px;
      padding: 0 0.5rem;

      p {
        font-size: 1.2rem;
        color: #e4bcf2;
        font-family: "ChakraPetch";
        font-weight: 400;
      }

      svg {
        fill: #ba00fb;
        height: 34px;
        width: 34px;
      }
    }

    img {
      cursor: pointer;
    }

    .upIcon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      gap: 5px;
    }

    button {
      border: none !important;
      background-color: rgba(99, 67, 115, 0.4) !important;
      color: #db74ff;
      font-size: 0.9rem;
      padding: 5px 15px !important;
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }

    .title {
      font-family: "OrbitronBlack";
      font-size: 1.2rem;
      background: linear-gradient(108deg, #fff 3.7%, #c66ae6 93.42%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    color: #d490ec;
    box-sizing: border-box;
    width: 100%;

    .title {
      text-align: center;
      font-family: "OrbitronBlack";
      font-size: 1.6rem;
      background: linear-gradient(108deg, #fff 3.7%, #c66ae6 93.42%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .listData {
      padding: 24px 16px 0 16px;
      box-sizing: border-box;
      height: 100%;
      position: relative;
      overflow: hidden;

      &::before {
        content: " ";
        position: absolute;
        right: 10px;
        top: 0px;
        background-image: url("/assets/icons/plus.svg");
        height: 21px;
        width: 19px;
      }

      &::after {
        content: " ";
        position: absolute;
        left: 2px;
        top: 220px;
        background-image: url("/assets/icons/plus.svg");
        height: 21px;
        width: 19px;
      }

      .border {
        position: absolute;
        border: 2px solid #ba00fb;
        top: 10px;
        left: 10px;
        width: calc(100% - 50px);
        height: 200px;
        pointer-events: none;
        border-bottom: none;
        border-right: none;
        clip-path: polygon(20px 0%, 0% 20px, 0% 100%, 100% 100%, 100% 2px, 100% 2px, 100% 0%);

        &::before {
          content: " ";
          height: 20px;
          width: 20px;
          position: absolute;
          left: 0;
          top: 0;
          clip-path: polygon(0% 100%, 100% 0%, 0% 0%);
          background-color: #ba00fb;
        }
      }

      .plusTop {
        position: absolute;
        top: -9px;
        right: 10px;
      }

      .plusLeft {
        position: absolute;
        top: 210px;
        left: -9px;
      }
    }

    .table {
      box-sizing: border-box;
      height: 100%;
      > table {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      td,
      tr {
        border: 0;
        color: #fff;
        font-family: "ChakraPetchLight";
        padding: 4px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
      }
      .arrow {
        justify-content: center;
        img {
          height: 16px;
        }
      }

      .user {
        display: flex;
        gap: 10px;
        font-weight: 500;
        overflow: hidden;
        > span {
          font-weight: 700;
        }

        > p {
          font-family: "ChakraPetchLight";
          font-weight: 400;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  .footer {
    border-top: 2px solid #ba00fb;
    display: flex;
    justify-content: space-between;

    .item:first-child {
      border-right: 1px dotted #ba00fb;
    }

    .item {
      display: flex;
      flex-direction: column;
      line-height: 1;
      text-transform: uppercase;
      width: 50%;
      justify-content: space-evenly;

      & > div {
        display: flex;
        flex-direction: column;
      }

      p {
        color: #9a4aff;
        font-family: "ChakraPetchBold";
        font-size: 2rem;
        padding: 5px 0;
      }

      span {
        color: #e4bcf2;
        font-family: "ChakraPetch";
        font-size: 0.9rem;
        font-weight: 700;
      }

      .action > button {
        border: none !important;
        background-color: rgba(99, 67, 115, 0.4) !important;
        color: #db74ff;
        font-size: 1rem;
        padding: 8px 16px !important;
        display: flex;
        justify-content: space-between;
        width: 160px;
      }

      .position {
        color: #e5c7f1;
        font-family: "ChakraPetch";
        font-size: 0.8rem;
        background: #4f3662;
        padding: 0 5px;
        border-radius: 2px;
      }

      .rewards {
        display: flex;
        flex-direction: column;
        gap: 0;

        .infoLabel {
          color: #250b30;
          font-family: "ChakraPetchBold";
          font-size: 0.8rem;
          font-weight: 800;
          background-color: #da7bfb;
          width: fit-content;
          padding: 0.2rem;
          padding-right: 1.5rem;
          clip-path: polygon(calc(100% - 10px) 0%, 100% 10px, 100% 100%, 0% 100%, 0% 0%);
          border-radius: 2px;
        }

        & > div {
          display: flex;
          gap: 1rem;
          align-items: center;
          flex-direction: row;
          & > p {
            color: #c3a0e9;
            font-size: 3rem;
            font-family: "ChakraPetchBold";
            font-weight: 400;
            padding: 0;
          }

          & > span {
            font-family: "ChakraPetch";
            font-size: 1.2rem;
            font-weight: 400;
            background: linear-gradient(108deg, #fff 3.7%, #c66ae6 93.42%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: capitalize;
          }
        }
      }

      .claimBtn > button span {
        font-size: 1rem;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

// sections ---
.tokensContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  .divider {
    border-top: 1px dashed #ba00fbaa;
    width: 100%;
  }

  button {
    padding: 1rem !important;
    min-width: 200px;
  }
}

.earnPointsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  .table {
    box-sizing: border-box;
    height: 100%;

    td,
    th {
      border: 0;
      color: #fff;
      font-family: "ChakraPetchLight";
      padding: 8px;
    }

    .earnRow {
      border-bottom: 1px dashed #e7c4f5;
      display: flex;
      justify-content: space-between;
      margin: 0 10px;

      td {
        padding: 16px !important;
      }

      button {
        padding: 8px 16px !important;
        border: none !important;
        background-color: rgba(99, 67, 115, 0.4) !important;
        color: #db74ff;
      }
    }
  }
}

.menuContainer {
  margin-top: 20px;
  overflow: auto;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ba00fbaa;
    padding: 24px 8px;
    color: #e4bcf2;
    cursor: pointer;
    p {
      width: 100%;
      padding: 0 20px;
      text-align: start;
      font-family: "ChakraPetch";
      font-size: 1rem;

      font-weight: 400;
    }
    svg {
      fill: #db74ff;
    }
  }
}

.profileContainer {
  .textField {
    border: 1px solid transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    color: #fff !important;

    & fieldset {
      border-color: transparent !important;
    }

    input {
      color: #fff !important;
      -webkit-text-fill-color: #fff !important;
      outline: none;
      font-family: "ChakraPetch";
      font-size: 1rem;
      font-weight: 400;
    }

    svg {
      fill: #fff;
    }
  }

  .wallet {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      color: #c3a0e9;
      font-family: "Orbitron";
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    span {
      color: #fff;
      font-family: "ChakraPetch";
      font-size: 1rem;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 600px) {
  table {
    td,
    th {
      font-size: 1rem !important;
      padding: 8px 16px !important;
    }
  }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .main > .footer {
    .item {
      align-items: last baseline;
      flex-direction: row;
    }
  }
}
