.modalContainer {
  background: rgba(0, 0, 0, 0.3);
  //backdrop-filter: blur(2px);
  z-index: 1300;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .modal {
    position: relative;
    max-width: 1000px;
    width: 100%;
    padding: 0px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    outline: none;

    .close {
      position: fixed;
      top: 24px;
      right: 24px;
      cursor: pointer;
    }

    .card {
      height: 500px;
      width: 100%;
      padding: 10px;
      margin: 0 20px;
      box-sizing: border-box;
      font-size: 2rem;

      border-radius: 20px;
      background: linear-gradient(180deg, #3a1f50 0%, #140e23 78.71%);
      box-shadow: 0px 0px 50px 10px rgba(141, 0, 251, 0.4);

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      user-select: none;

      transition: 0.2s all;
    }
  }
}
