.carousel {
  padding: 0;
  width: calc(100% - 100px);
  max-width: 1000px;
  height: 500px;
  box-sizing: border-box;
  z-index: 999;
  //position: relative;

  ul li {
    display: flex;
    justify-content: center;
  }
}
.arrowContainer {
  padding: 0;
  width: calc(100% - 50px);
  max-width: 1100px;
  align-items: center;
  height: 500px;
  box-sizing: border-box;
  position: absolute;

  .arrowLeft {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 903;
    color: #db74ff;
    font-size: 2rem !important;
  }

  .arrowRight {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 903;
    color: #db74ff;
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 500px) {
  .arrowContainer {
    width: calc(100% - 20px);
  }
}

@media screen and (max-height: 500px) {
  .carousel,
  .arrowContainer {
    height: 400px;
  }
}
