.mainDrawer {
  .container {
    backdrop-filter: blur(12px);
    overflow-y: auto;
    width: 450px;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    bottom: 1.5rem;
    border-radius: 1rem;
    z-index: 1;
    box-sizing: border-box;

    border: 1px solid #d8b7e780;
    background: rgba(58, 31, 80, 0.6)
  }
}

.downIcon {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  z-index: 900;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-direction: column;
  color: #ddd;
  gap: 5px;
  font-size: 1rem;
  animation: translate 2s linear infinite;

  svg {
    height: 25px !important;
    width: 100px !important;
  }
}

@keyframes translate {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
