.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  z-index: 900;
  gap: 1.2rem;

  .lngIcon {
    width: 34px;
    height: 34px;
    fill: #BA00FB;
    cursor: pointer;
  }
}