.modalContainer {
  z-index: 901;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #140716;

  .background {
    position: absolute;
    inset: 0;
    z-index: -1;
    filter: blur(6px);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    animation: fadeIn 1s;
  }

  .backButton {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 991;

    button {
      border: none !important;
      background-color: rgba(99, 67, 115, 0.4) !important;
      color: #db74ff;
      font-size: 0.9rem;
      padding: 5px 15px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
  }

  .modal {
    //max-width: 1000px;
    width: 100%;
    padding: 0px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    outline: none;

    .back {
      width: 863px;
      background: linear-gradient(180deg, rgba(132, 36, 166, 0.7) 0%, rgba(115, 115, 115, 0) 100%);
    }
  }

  .close {
    position: fixed;
    top: 1.2rem;
    right: 1.2rem;
    cursor: pointer;
    z-index: 902;
    padding: 10px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
  }
}

@media screen and (max-width: 500px) {
  .backButton {
    top: 1rem !important;
    left: 1rem !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
