.payEmbed {
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  .backButton {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    z-index: 99999!important;

    button {
      border: none !important;
      background-color: rgba(99, 67, 115, 0.4) !important;
      color: #db74ff;
      font-size: 0.9rem;
      padding: 5px 15px !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }
  }
}
