.main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #3a63b8;
  overflow: hidden;
  padding: 10px;
}

.mainBG {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  .backgroundImage {
    position: absolute;
    top: -10px;
    left: -10px;
    background-image: url("/assets/images/mapBG.png");
    background-size: cover;
    background-color: #150a21;
    //background-repeat: repeat;
    //background-size: 200px 200px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    filter: blur(5px) brightness(.6);
  }
}

.actionsTest {
  position: absolute;
  flex-direction: column;
  top: 16px;
  right: 16px;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.actions {
  position: absolute;
  flex-direction: column;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  display: flex;
  gap: 10px;
}

.menuIcon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  display: flex;
  cursor: pointer;
}

.gridpath {
  transition: 0.15s all;
  fill-opacity: 0;
  stroke-opacity: 0.5;
  stroke-width: 1px;
  stroke-miterlimit: 1;
  stroke: #ba00fb;
  cursor: pointer;

  /*&:hover {
    fill-opacity: 0.5;
    stroke-opacity: 0.8;
    fill: #15ff00;
    stroke: #15ff00;
  }*/
}

/*.item {
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    filter: drop-shadow(0 0 5px #fff);

    .window {
      fill: red;
      animation: blink 1s linear infinite;
    }
  }
}*/

/*.listItems:hover .item:not(:hover) {
  filter: brightness(0.8) opacity(0.9);
}*/
/*
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}*/
