.main {
  height: 100svh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding-left: 400px;

  .backgroundImage {
    position: absolute;
    top: -10px;
    left: -10px;
    background-image: url("/assets/images/mapBG.png");
    background-size: cover;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    filter: blur(4px) brightness(0.8);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
  }
}

.actionsTest {
  position: absolute;
  flex-direction: column;
  top: 16px;
  right: 16px;
  z-index: 900;
  display: flex;
  gap: 10px;
}

.actions {
  position: absolute;
  flex-direction: column;
  right: 1.2rem;
  bottom: 1.2rem;
  z-index: 900;
  display: flex;
  gap: 10px;
}

.menuIcon {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 900;
  display: flex;
  cursor: pointer;
}

.gridpath {
  transition: 0.15s all;
  fill-opacity: 0;
  stroke-opacity: 0.5;
  stroke-width: 1px;
  stroke-miterlimit: 1;
  stroke: #ba00fb;
}

.buildings g > svg {
  transition: 0.2s all;

  &:hover {
    filter: drop-shadow(0px 0px 5px rgba(141, 0, 251, 1));
  }
}

@media screen and (max-width: 900px) {
  .main {
    padding-left: 0;
  }
}

// svg map styles ---
/*.map {
  filter: drop-shadow(0px -30px 15px rgba(0, 0, 0, 0.3));

  g.bg,
  g.items {
    animation: jump 2s infinite ease-in-out;
  }

  &:hover {
    filter: drop-shadow(0px -30px 15px rgba(0, 0, 0, 0.5));

    g.bg,
    g.items {
      animation: none;
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}*/
