.reactourPopover {
  svg {
    color: #fff !important;
  }
}

.reactourMask {
  color: #000;
}

.reactourButton {
  border: 1px solid #ba00fb!important;
  background: rgba(58, 31, 80, 0.6)!important;
  padding: 0.5rem 2rem!important;
}
