.modalContainer {
  background: rgba(20, 20, 20, 0.5);
  //backdrop-filter: blur(2px);
  z-index: 901;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .modal {
    position: relative;
    max-width: 1000px;
    width: 100%;
    padding: 0px;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    outline: none;

    .close {
      position: fixed;
      top: 1.2rem;
      right: 1.2rem;
      cursor: pointer;
      z-index: 902;
      padding: 10px;
      background-color: #000;
      border-radius: 50%;
    }
  }
}
