.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;

  td {
    display: flex;
    gap: 1rem;
    align-items: flex-start;

    img {
      width: 60px;
      height: auto;
      border-radius: 3px;
      object-fit: cover;
      filter: contrast(1.1);
      //border: 1px solid #d490ec80;
    }

    div {
      display: flex;
      flex-direction: column;
      flex: 1 1;

      p {
        font-family: "ChakraPetch";
      }
      .status,
      .type {
        color: #d490ec;
        font-size: 0.8rem;
        display: flex;
        gap: 0.5rem;

        span {
          color: #d490ec80;
        }
      }

      .type {
        color: #d490ec80;
      }
    }
  }

  button {
    padding: 8px 16px !important;
    border: none !important;
    background-color: rgba(99, 67, 115, 0.4) !important;
    color: #db74ff;
  }

  .actions {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    button {
      min-width: 115px;
    }

    span {
      color: rgba(212, 144, 236, 0.5);
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;
    }
  }
}

.details {
  padding: 0.5rem 1rem;
  width: 100%;
  color: #d490ec;
  box-sizing: border-box;
  background-color: rgba(99, 67, 115, 0.4) !important;
  border-radius: 3px;
  margin-bottom: 1rem;

  p {
    font-size: 0.9rem;
    font-family: "ChakraPetch";

    a {
      color: #d490ec;
      text-decoration: underline;
    }
  }
}
