.main {
  height: 100%;
  color: white;
  flex-flow: column;
  box-sizing: border-box;
  transition: 0.2s all;
  position: relative;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 1rem;

    button {
      border: none !important;
      background-color: rgba(99, 67, 115, 0.4) !important;
      color: #db74ff;
      font-size: 0.9rem;
      padding: 5px 15px !important;
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }

    .title {
      font-family: "OrbitronBlack";
      font-size: 1.2rem;
      background: linear-gradient(108deg, #fff 3.7%, #c66ae6 93.42%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    color: #d490ec;
    box-sizing: border-box;
    width: 100%;

    .textField {
      border: 1px solid transparent;
      width: 100%;
      box-sizing: border-box;
      padding: 0.5rem;
      color: #fff !important;

      & fieldset {
        border-color: transparent !important;
      }

      input {
        color: #fff !important;
        -webkit-text-fill-color: #fff !important;
        outline: none;
        font-family: "ChakraPetch";
        font-size: 1rem;
        font-weight: 400;
      }

      svg {
        fill: #fff;
      }
    }

    .walletContainer,
    .socialContainer {
      padding-top: 2rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        color: #c3a0e9;
        font-family: "Orbitron";
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      .rowWallet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;

        & > div {
          display: flex;
          gap: 0.5rem;
          padding: 0 1rem;
          align-items: center;

          span {
            color: #fff;
            font-family: "ChakraPetch";
            font-size: 1rem;
            font-weight: 400;
            min-width: 160px;
          }

          .infoLabel {
            color: #250b30;
            font-family: "ChakraPetchBold";
            font-size: 0.7rem;
            font-weight: 800;
            background-color: #da7bfb;
            width: fit-content;
            padding: 0.2rem 0.3rem;
            clip-path: polygon(calc(100% - 5px) 0%, 100% 5px, 100% 100%, 0% 100%, 0% 0%);
            border-radius: 2px;
            min-width: auto;
          }
        }

        &.active {
          background-color: rgba(186, 0, 251, 0.25);
          border-radius: 0.25rem;
        }
      }
    }

    .actions {
      padding: 1rem 0;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      border-bottom: 1px dashed #ba00fbaa;

      button {
        border: none !important;
        background-color: rgba(99, 67, 115, 0.4) !important;
        color: #db74ff;
        font-size: 1rem;
        padding: 0.5rem 1rem !important;
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
